<footer>
    <div class="container">
      <div class="row">
        <div class="col-xl copyright">
          <p>
            Copyright &copy; 2022 MindHowl
          </p>
        </div>
        <div  id="social" class="col-xl social">
          <ul *ngFor="let Perfil of perfil">
            <li>
              <a [href]="Perfil.github" target="_blank"
                ><i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                [href]="Perfil.stackoverflow"
                target="_blank"
                ><i class="fa fa-stack-overflow" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                [href]="Perfil.linkedin"
                target="_blank"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                [href]="Perfil.facebook"
                target="_blank"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                [href]="Perfil.instagram"
                target="_blank"
                ><i class="fa-brands fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
