.gradient-custom {
    background-image: url(../../../assets/images/lead-bg.png);
    }
.fade-in{
    background-color: #ffffff;
    border-radius: 40px;
    position:relative;
    top: 0; 
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}
.btn {
    color:#ffffff;
    background-color: #141062;
    border-radius: 40px;
}
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}
.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #0D00FF;
}