<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="fade-in">
                    <div class="card-body p-5 text-center">
                        <div>
                            <div class="container">
                                <div class="row">
                                    <h2 class="heading">Edit Skill</h2>
                                    <div>
                                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                            <div class="form-group">
                                                <label for="nombre">Skill name</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre"
                                                    [(ngModel)]="skill.nombre" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="porcentaje">Percent</label>
                                                <P>(Only the number)</P>
                                                <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                                                    [(ngModel)]="skill.porcentaje" required>
                                            </div>
                                            <button class="btn btn-primary">
                                                Save
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    
