



@media only screen and (max-width: 992px) {
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 5%;
   }
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
   }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
   }
    #lead-content h1 {
        font-size: 3em;
   }
    #lead-content h2 {
        font-size: 1.75em;
   }
    #about {
        text-align: center;
   }
    #about p {
        text-align: left;
   }
   .footer{
    background-size: cover;
   }
}
@media only screen and (max-width: 950px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 13%;
    }
}
@media only screen and (max-width: 850px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 14%;
    }
}
@media only screen and (max-width: 820px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 5%;
    }
}
@media only screen and (max-width: 815px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 55px;
    }
}
@media only screen and (max-width: 800px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 50px;
    }
}
@media only screen and (max-width: 768px) {
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 14%;
   }
    #mobile-menu-open, #mobile-menu-close {
        display: block;
   }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
   }
    #menu li {
        display: block;
        margin-bottom: 10px;
   }
    #lead-content h2 {
        font-size: 1.3em;
   }
    #lead-content a {
        padding: 10px 20px;
   }
    #lead-down {
        display: none;
   }
    .education-block h3, .education-block span {
        float: none;
   }
    .project-image {
        display: none;
   }
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
   }
    footer {
        text-align: center;
   }
    .social {
        text-align: center;
   }
}@media only screen and (max-width: 750px) {
    #experience-timeline:before, #experience-timeline:after {
        left: 23px;
   }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
   }
    .vtimeline-icon {
        margin-left: 0;
   }
    .vtimeline-content {
        margin-left: 70px;
   }
}


@media only screen and (max-width: 650px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 8%;
    }
}
@media only screen and (max-width: 450px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 6%;
    }
}
@media only screen and (max-width: 380px){
    header {
        position: relative;
        display:flex ;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 8%;
}
}

