<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="fade-in">
                    <div class="card-body p-5 text-center">
                        <div>
                            <div class="container" *ngIf="proyecto">
                                <div class="row">
                                    <h2 class="heading">Edit Experience</h2>
                                    <div>
                                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                            <div class="form-group">
                                                <label for="nombre">Proyect name</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre"
                                                    [(ngModel)]="proyecto.nombre" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="descripcion">Description</label>
                                                <textarea class="form-control" id="textarea" rows="5" id="descripcion" name="descripcion"
                                                    [(ngModel)]="proyecto.descripcion" required></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="img">Image Url</label>
                                                <input type="url" class="form-control" id="img"
                                                    name="img" [(ngModel)]="proyecto.img">
                                            </div>
                                            <div class="form-group">
                                                <label for="fechaE">Site Url</label>
                                                <input type="text" class="form-control" id="fechaE" name="fechaE"
                                                    [(ngModel)]="proyecto.link">
                                            </div>
                                            <button class="btn btn-primary">
                                                Save
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>                
